* {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

div {
    /* animation: fadein 2s; */
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr ;
}

header {
    display: flex;
    align-items: center;
    padding-left: 5em;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

header img {
    width: 5em;
}

div.shortcuts {
    margin-left: auto;
    padding-right: 5em;
    display: flex;
    align-items: center;
}

div.shortcuts i {
    display: none;
}

div.shortcuts i:hover {
    cursor: pointer;
}

div.shortcuts a {
    color: black;
    margin: 1em;
}

div.shortcuts a:hover {
    cursor: pointer;
}

div.shortcuts label {
    padding: 1em;
}


a#enTranslator {
    display: none;
}

/* Home */ 

h1 {
    font-size: 180%;
}


article.home {
    display: flex;
    padding: 3em;
}

article.home article.introduction {
    max-width: 85%;
}

article.introduction div.headline {
    font-size: 280%;
    font-weight: bold;
}

article.introduction div.subtext {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 1em;
}

article.introduction div.intro-text {
    color: grey;
}

section.titlebar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
  background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
  background: linear-gradient(top, #ebebeb, #d5d5d5);
  color: #4d494d;
  height: 20px;
  border-top: 1px solid #f3f1f3;
  border-bottom: 1px solid #b1aeb1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

div.buttons {
    padding-left: 8px;
    padding-top: 3px;
    float: left;
    line-height: 0px;
}

.close {
    background: #ff5c5c;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
  }

  .zoom {
    background: #00ca56;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 6px;
    width: 11px;
    height: 11px;
    border: 1px solid #14ae46;
    border-radius: 50%;
    display: inline-block;
  }
  
.minimize {
    background: #ffbd4c;
    font-size: 9pt;
    line-height: 11px;
    margin-left: 4px;
    width: 11px;
    height: 11px;
    border: 1px solid #e09e3e;
    border-radius: 50%;
    display: inline-block;
}

article.code output {
    padding: 10px;
    font-family: 'JetBrains Mono', monospace;
    width: 50em;
}

article.window {
    width: 35em;
    height: 25em;
    border: 1px solid #acacac;
    border-radius: 6px;
    box-shadow: 0px 0px 20px #acacac;
}

article.bottom-articles {
    padding-top: 2em;
    display: flex;
}

article.bottom-articles article div.headline {
    padding-top: 3em;
    font-size: 130%;
    font-weight: bold;
}

article.bottom-articles article div.subtext {
    font-size: 80%;
    color: grey;
}


section.field div.position {
    padding-top: 1em;
    font-weight: bold;
}

section.field div.company {
    font-size: 85%;
}

section.field div.timeline {
    padding-top: 0.2em;
    font-size: 80%;
    color: grey;
}

article.skills {
    padding-left: 10em;
}

div.icons {
    padding-top: 1em;
}

footer{
    display: flex;
    justify-content: center;
    box-shadow:  0 -1px 2px 0px rgba(0,0,0,0.1);
}

footer article {
    text-align: center;
}

footer article div.copyright {
    padding-top: 1em;
    font-size: 80%;
    color: grey;
}

footer a {
    color: #4b5563;
    padding: 0.2em;
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #6b7280;
}

footer img {
    display: none;
}


@media screen and (prefers-color-scheme: dark) {
    main, header, footer, body, html, div.shortcuts a{
        background-color: #121212;
        color: #E2E2E2;
    }
}

@media screen and (prefers-color-scheme: dark) {
    section.titlebar {
        background-color: #202124;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #202124, color-stop(1.0, #202124)));
        background: -webkit-linear-gradient(top, #202124, #202124);
        background: -moz-linear-gradient(top, #202124, #202124);
        background: -ms-linear-gradient(top, #202124, #202124);
        background: -o-linear-gradient(top, #202124, #202124);
        background: linear-gradient(top, #202124, #202124);
        border-top: 1px solid #35363a;
        border-bottom: 1px solid #35363a;
    }
}

@media screen and (prefers-color-scheme: dark) {
    article.window {
        border: 1px solid #35363a;
        box-shadow: 0px 0px 20px #35363a;
    }
}


@media screen and (max-width: 768px) {
    header {
        padding: 1em;
        display: flex;
        align-items: center;
    }

    div.shortcuts {
        margin-left: auto;
        padding-right: 0.5em;
        align-items: center;
    }

    div.shortcuts i {
        display: inherit;
    }
    
    div.shortcuts-mobile a:hover {
        cursor: pointer;
    }


    div.shortcuts a.home,a.projects,a.contact{
        display: none;
    }

    
    i.fa-bars {
        padding-left: 0.5em;
    }

    main{
        padding: 2em;
    }

    article.skills {
        padding-left: 3em;
    }

    article.home {
        display: block;
    }
    
    div.right {
        display: none;
        padding-top: 2em;
    }

    article.bottom-articles {
        padding-top: 1em;
        display: flex;
    }
}

/* Projects */ 

article.projects {
    display: flex;
    flex-direction: column;
}

article.projects article.introduction {
    width:100%;
    padding-top: 2em;
}

article.projects article.introduction div.headline {
    text-align: center;
}

article.projects article.introduction div.subtext {
    text-align: center;
}


section.card {
    padding-top: 3em;
    text-align: center;
}

.repo-card {
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

section.card div.title{
    font-size: 150%;
}


/* Contact */ 

article.contact {
    display: flex;
    flex-direction: column;
}

article.contact article.introduction {
    width:100%;
    padding-top: 2em;
}

article.contact article.introduction div.headline {
    text-align: center;
}

article.contact article.introduction div.subtext {
    text-align: center;
}

article.contact button {
    width: 20em;
}